table {
  width: 100%;
  border-collapse: collapse;
}
th, td {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
th {
  background-color: #11308a;
  color: #dddddd;
}

.container {
  margin: 20px;
  font-size: 2rem;
}

h1 {
  text-align: center;
} 

.search {
  width: 20%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
  background-color: white;
  transition: width 0.4s ease-in-out;
  color: black;
}

.search input[type="text"]:focus {
  width: 50%;
}
